<h3><%= l(:label_booty_bay) %></h3>
<%= link_to l(:label_library), { :controller => 'treasures', :action => 'index', :project_id => @project } %>
<br />
<%= link_to l(:label_device_room), { :controller => 'treasures', :action => 'index_of_devices', :project_id => @project } %>